@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.google.com/specimen/Open+Sans');


p {
  font-family: "Open+Sans", sans-serif;
  color: hsl(0, 0%, 50%);
}

main {

  display: flex;
  flex-direction: column;


}

header{
  display:flex;
  justify-content: space-between;
  margin: 20px;
}

header ul{
  list-style: none;
  width: 120px;
  margin: 0;
  padding: 0;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

header li {
  display: inline;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;


}

#left{
  background-image: linear-gradient(hsl(243, 87%, 12%),  hsl(243, 86%, 85%));
  display: flex;
  justify-content: space-around;
  align-items:center;
}

#right {
  width: 80%;
}

/*start form styles here  */

form {
  background-color: yellow;
  padding: 0;
}

fieldset {
  border-style: none;

}

label {

}

button {
  background-color: hsl(163, 95%, 43%);
  color: white;
}

footer {
  margin-top: 100px;
  margin-bottom: 100px;
}
  .attribution {
    font-size: 11px; text-align: right;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
