@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.google.com/specimen/Open+Sans');
*{box-sizing: border-box;}

p {
  font-family: "Open+Sans", sans-serif;
  color: hsl(0, 0%, 50%);
  font-size: 0.75em;
  line-height: 1.5em;
}

main {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;

}

header{
  display:flex;
  justify-content: space-between;
  margin: 20px;
  height: 10vh;
}

header ul{
  list-style: none;
  width: 120px;
  margin: 0;
  padding: 0;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

header li {
  display: inline;
  width:30px;
}

body {
  display: flex;
  flex-direction: row;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
}

#left{
  background-image: linear-gradient(45deg, hsl(243, 86%, 85%),  hsl(243, 87%, 12%));
  display: flex;
  justify-content: space-around;
  align-items:center;
  width: 50vw;
  height: 100vh;
}

#right {
  width: 50vw;
  height: vmax;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

/*start form styles here  */
form{
  padding: 0;

}

fieldset {
  border-style: none;
  padding: 10px;


}

.hide {
  display: none;
}

input {
  width:70%;
  height: 30px;
  filter: drop-shadow(4px 4px 3px #999);
}

button {
  background-color: hsl(163, 95%, 43%);
  text-align: center;
  font-weight: bold;
  color: white;
  width: 25%;
  height: 30px;
  filter: drop-shadow(4px 4px 3px #999);
}

footer {
  margin-top: 100px;
  /* margin-bottom: 100px; */
  padding: 0 20px;
}
  .attribution {
    font-size: 11px; text-align: right;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
