header{
  display:flex;
  justify-content: space-between;
  margin: 20px;
}

header ul{
  list-style: none;
  width: 120px;
  margin: 0;
  padding: 0;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

header li {
  display: inline;
}

body {
  display: flex;

}
